﻿@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2><br />

<address>
    Missouri Valley College 500 East<br />
    Marshall, Missouri 65340<br />
    660-831-4000
</address>

<address>
    Hours of Operation: Monday-Friday, 8 AM-4:30 PM<br />
    Services Accepted: United States Postal Service, FedEx, UPS, & DHL
</address>

<address>
    E-mail: <a href="mailto:mailroom@moval.edu">mailroom@moval.edu</a><br />
</address>
