﻿@{
    ViewBag.Title = "University Manager";
}

<div class="jumbotron">
    <h1>Welcome to University Manager</h1>
    <p class="lead">Free ASP.NET Web Application that can be used by any student after competing the registration form to be able to see information about subjects and exam results.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Studying experience</h2>
        <p>Studying with us is a challenging but also rewarding experience. Our flexible approach offers you a range of study options that you can choose.</p>
    </div>
    <div class="col-md-4">
        <h2>Find your program</h2>
        <p>Prepare for your career with a degree that can impact your life, family and future. Select the program that lines up with your goals and skills.</p>
    </div>
    <div class="col-md-4">
        <h2>Build employability skills</h2>
        <p>We offer a range of options for students who are currently at the university, whether in the first or final year of their undergraduate or postgraduate courses.</p>
    </div>
</div>


