﻿@model UniversityManager.Models.Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject.Speciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject.Speciality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

            @if (User.IsInRole("Admin"))
            {
        <dt>
            @Html.DisplayNameFor(model => model.FacultyNumber)
        </dt>
            }

            @if (User.IsInRole("Admin"))
            {
        <dd>
            @Html.DisplayFor(model => model.FacultyNumber)
        </dd>
            }

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</div>

@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResultID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}

@if (User.IsInRole("Student"))
{
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
}