﻿@model IEnumerable<UniversityManager.Models.Result>

@{
    ViewBag.Title = "Index";
}

<h2>Exam Results</h2>

<div class="form-control-static">
    @using (Html.BeginForm("Search", "Result"))
    {
        <div class="form-group col-xs-6 col-md-push-0">
            @Html.Editor("SearchBox", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group col-xs-6 col-md-pull-3">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
    }
</div>

@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject.Speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        @if (User.IsInRole("Admin"))
        {
        <th>
            @Html.DisplayNameFor(model => model.FacultyNumber)
        </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject.Speciality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        @if (User.IsInRole("Admin"))
        {
         <td>
            @Html.DisplayFor(model => item.FacultyNumber)
         </td>
        }
         <td>
            @Html.DisplayFor(model => item.Grade)
         </td>
            @if (User.IsInRole("Admin"))
             {
         <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ResultID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ResultID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ResultID })
         </td>
              }
            @if (User.IsInRole("Student"))
              {
         <td>
            @Html.ActionLink("Details", "Details", new { id = item.ResultID })
         </td>
              }
    </tr>
}
</table>
