﻿@model IEnumerable<UniversityManager.Models.Speciality>

@{
    ViewBag.Title = "Index";
}

<h2>Specialities</h2>

<div class="form-control-static">
    @using (Html.BeginForm("Search", "Speciality"))
    {      
        if (User.Identity.IsAuthenticated)
        {
        <div class="form-group col-xs-6 col-md-push-0">
             @Html.Editor("SearchBox", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group col-xs-6 col-md-pull-3">
            <input class="btn btn-default" type="submit" value="Search" />  
        </div>
        }
    }
</div>

@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpecialityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyName)
        </td>
            @if (User.IsInRole("Admin"))
             {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SpecialityID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SpecialityID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SpecialityID })
        </td>
             }
            @if (User.IsInRole("Student"))
             {
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.SpecialityID }) 
        </td>
             }
    </tr>
}
</table>
