﻿@model IEnumerable<UniversityManager.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<div class="form-control-static">
    @using (Html.BeginForm("Search", "Student"))
    {
        <div class="form-group col-xs-6 col-md-push-0">
             @Html.Editor("SearchBox", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group col-xs-6 col-md-pull-3">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
    }
</div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.speciality.SpecialityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.speciality.SpecialityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacultyNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                </td>
            </tr>
        }
    </table>
