﻿@model IEnumerable<UniversityManager.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Subjects</h2>

<div class="form-control-static">
    @using (Html.BeginForm("Search", "Subject"))
    {
        <div class="form-group col-xs-6 col-md-push-0">
            @Html.Editor("SearchBox", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group col-xs-6 col-md-pull-3">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
    }
</div>

@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speciality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
            @if (User.IsInRole("Admin"))
             {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SubjectID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SubjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SubjectID })
        </td>
             }
            @if (User.IsInRole("Student"))
             {
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.SubjectID })
        </td>
             }
    </tr>
}
</table>
